body {
  font-family: sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 0 10px 0;
}

li > img {
  width: 100px;
}

li > h3 {
  margin-top: 0;
}

li > p {
  margin-top: 5px;
}

